body {
    background-image: url(../images/bg1.jpg);
    background-size: cover;
}

.gifTitle {
    text-align: center; 
    padding: 1%;
    background-color:  rgba(250, 250, 250, .7);
    margin-top: 1%;
    width: 40%;
    border-radius: 35px;
    box-shadow: inset 0 0 30px 15px #f3d7d6;
}

.gifTitle.h1, h1 {
    font-size: 5rem;
    filter: blur(0px); 
    color: white;
    text-shadow: 3px 3px 15px black;  
}

.btnform {
    margin-top: 1%;
    margin-bottom: 1%;
}

.buttonClass {
    text-align: center;
    margin-top: 1%;
}

button {
    margin: .5%;
    color: white;
    text-shadow: 2px 2px 1px black;
    background-image: linear-gradient(#FC466B, #3F5EFB);
    border-radius: 12px;
}

button:hover {
    color: black;
    background-image: linear-gradient(#3F5EFB, #FC466B);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}



.formClass {
    text-align: center;
    margin-bottom: 1%;
}

label {
    color: white;
    text-shadow: 1px 1px 2px black;
}

#add-topic {
    margin-top: 1%;
    color: white;
    text-shadow: 2px 2px 1px black;
    background-image: linear-gradient(#FC466B, #3F5EFB);
}

#add-topic:hover {
    color: black;
    background-image: linear-gradient(#3F5EFB, #FC466B);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

form {
    margin: 1%;
}

div.gifDiv{
    display: inline-block;
}

.gifClass {
    background-color: rgba(250, 250, 250, .7);  
    margin-bottom: 2%;
}

img {
    margin: 10px;
}

p {
    margin-bottom: -5px;
    padding-left: 10px;
}