body {
    background-image: url(../images/bg.jpeg);
    background-size: cover;
}

.gifTitle {
    text-align: center; 
    padding: 1%;
    background-color:  rgba(24, 48, 36, 0.7);
    /* background-image: linear-gradient(#00bf8f, #001510); */
    margin-top: 2%;
    margin-bottom: 3%;
    width: 100%;
    border-radius: 50px;
    box-shadow: 0 0 30px 15px #000000;
}

.gifTitle.h1, h1 {
    font-size: 5rem;
    filter: blur(0px); 
    color: white;
    text-shadow: 3px 3px 15px black;  
}

.btnform {
    margin-top: 1%;
    margin-bottom: 1%;
}

.buttonClass {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
}

button {
    margin: .5%;
    color: white;
    text-shadow: 2px 2px 1px black;
    background-image: linear-gradient(#00bf8f, #001510);
    border-radius: 12px;
}

button:hover {
    /* color: black; */
    /* background-image: linear-gradient(#3F5EFB, #FC466B); */
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    box-shadow: 0px 0px 20px white;
}

.formClass {
    text-align: center;
    margin-bottom: 1%;
}

label {
    color: white;
    text-shadow: 1px 1px 2px black;
    background-color: rgb(24, 48, 36);
    width: 225px;
    border-radius: 50px;
}

#add-topic {
    margin-top: 1%;
    color: white;
    text-shadow: 2px 2px 1px black;
    background-image: linear-gradient(#00bf8f, #001510);
}

#add-topic:hover {
    /* color: black; */
    /* background-image: linear-gradient(#001510, #00bf8f); */
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    box-shadow: 0px 0px 20px white;
}

form {
    margin-top: 1%;
    margin-bottom: 2%;  
}

div.gifDiv{
    display: inline-block;
}

.gifClass {
    background-color: rgba(24, 48, 36, 0.7);  
    margin-bottom: 2%;
}

img {
    margin: 10px;
}

img:hover {
    box-shadow:0 0 15px white;
}

p {
    margin-bottom: -5px;
    padding-left: 10px;
    color: white;
}